.App {
  text-align: center;
}

.App-hitem {
    color: #000000;
    text-decoration: none;
    margin-left:50px;
    font-size: 30pt;
}

.barButton {
    color: #000000;
    margin-left:20px;
    height: 20wv;
    width: 20wv;
    font-size: 40pt;
    text-align: center;
}

.Card {
    width: 50vw;
    margin: 1vw;
}

.Card-title {
    color: #000000;
    font-size: 25pt;
    font-weight: bold;
}

.Card-body {
    color: #808080;
}

.big {
    font-size: 50pt;
    align: center;
}

.linkText {
    font-size: 12pt;
    color: #0066ff;
    text-decoration: none;
}

.new {
    font-size: 6pt;
    color: #00cc00;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.mid {
    font-size: 6pt;
    color: #ff9900;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.old {
    font-size: 6pt;
    color: #ff3300;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.language {
    font-size: 8pt;
    color: #808080;
}

.linkButton {
    float: left;
    position: relative;
    left: 38.75%;
}

.linkIcon {
    text-align: center;
}

.formFields {
    float: left;
    position: relative;
    left: 35%;
}

.formBody {
    float: left;
    position: relative;
    left: 29.9%
}

.submitButton {
    margin-top: 20px;
}

.butSub {
    width: 200px;
    height: 50px;
}

.grid2x2 {
    position: relative;
    float: left;
    left: 13%;
    margin-top: 8vw;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.linkCard {
    width: 35vw;
    margin: 1vw;
}

.linkCard-text{
    text-decoration: none;
    font-size: 20pt;
    text-align: center;
}
