.App {
  text-align: center;
}
.barMargin {
    margin-top: 10%;
}

.App-hitem {
    color: #000000;
    text-decoration: none;
    margin-left:50px;
    font-size: 30pt;
}

.noDecor {
    text-decoration: none;
}

.barButton {
    color: #000000;
    margin-left:20px;
    height: 20wv;
    width: 20wv;
    font-size: 40pt;
    text-align: center;
}

.Card {
    width: 50vw;
    align-items: center;
    align-content:center;
    margin: 1vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.Card-title {
    color: #000000;
    font-size: 32pt;
}

.Card-body {
    color: #808080;
}

.cardActions {
    text-align: center;
    margin-left: 22vw;
}

.big {
    font-size: 50pt;
    align: center;
}

.linkText {
    font-size: 15pt;
    color: #0066ff;
    text-decoration: none;
}

.new {
    font-size: 12pt;
    color: #00cc00;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.mid {
    font-size: 6pt;
    color: #ff9900;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.old {
    font-size: 6pt;
    color: #ff3300;
    align:right;
    margin-top: 10pt;
    margin-bottom: 0;
}

.language {
    margin-top: 8pt;
    font-size: 8pt;
    color: #808080;
}

.linkButton {
    text-align: right;
    content-align:right;
}

.linkIcon {
    text-align: center;
    margin-top: 10pt;
    margin-bottom: -14pt;
}

.formFields {
    float: left;
    position: relative;
    left: 35%;
}

.formBody {
    float: left;
    position: relative;
    left: 29.9%
}

.submitButton {
    margin-top: 20px;
}

.butSub {
    width: 200px;
    height: 50px;
}

.grid2x2 {
    position: relative;
    float: center;
    margin-top: 14vw;
    margin-left: 11vw; 
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.linkCard {
    width: 35vw;
    margin: 1vw;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkCard-text{
    text-decoration: none;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 10pt;
}
.links {
    text-decoration: none;
}

.aboutImages {
    height: 20vw;
    margin: 2vw;
}

.aboutImg {
    height: 30vw;
    margin-bottom: 24pt;
    margin-left: 15pt;
    max-width: 50%;
    max-height: 35vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6%;
}

.mdText {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 13vw;
    font-size:20pt;
    min-width: 75%;
}

.textBox {
    margin: 50pt;
    padding: 50pt;
    padding-top: 20pt;
}

